@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
*, img, a, ul, li, p, tertiaryFont, h2, h3, h4, input {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.form-control:focus {
  box-shadow: none !important;
}

.form-select:focus {
  box-shadow: none !important;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
}
body .mainContainer {
  max-width: 100%;
  background-color: #ffffff;
}
body .mainContainer .hero {
  height: 300px;
  padding: 0 12%;
  background-color: #f2feff;
}
body .mainContainer .hero header {
  height: 20%;
}
body .mainContainer .hero header .logoContainer img {
  width: 60%;
}
body .mainContainer .hero header nav {
  width: 49%;
}
body .mainContainer .hero header nav ul li {
  display: flex;
  justify-content: space-between;
}
body .mainContainer .hero header nav ul li a {
  display: flex;
  padding: 8px 12px;
  justify-content: space-between;
  font-size: 0.9rem;
  font-weight: 400;
  color: #121d2a;
}
body .mainContainer .hero header nav ul li a:hover {
  color: #121d2a;
  border-bottom: 2px solid #121d2a;
}
body .mainContainer .hero header nav ul li:last-child {
  border-radius: 4px;
  padding: 9px 12px;
  font-size: 0.9rem;
  font-weight: 400;
  color: #121d2a;
  background-color: #00e87c;
}
body .mainContainer .hero header nav ul li:last-child:hover {
  background-color: #4fe3b6;
}
body .mainContainer .hero header nav ul li:last-child:hover {
  border-bottom: none !important;
}
body .mainContainer .hero .caption {
  height: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
body .mainContainer .hero .caption div {
  width: 45%;
  text-align: center;
  text-transform: capitalize;
}
body .mainContainer .hero .caption div tertiaryFont {
  font-size: 2rem;
  font-weight: 600;
  color: #121d2a;
}
body .mainContainer .hero .caption div p {
  font-size: 0.9rem;
  font-weight: 400;
  color: #121d2a;
  color: #7a7a7a;
  line-height: 1.5rem;
}
body .mainContainer .blogContents {
  padding-top: 6%;
  padding: 0 12%;
  width: 100%;
}
body .mainContainer .blogContents .blogContentContainer nav:first-child {
  border-bottom: 1px solid #7a7a7a;
}
body .mainContainer .blogContents .blogContentContainer nav:first-child ul {
  width: 55%;
  padding: 4px 0;
  color: #7a7a7a;
}
body .mainContainer .blogContents .blogContentContainer nav:first-child ul li a {
  font-size: 0.9rem;
  font-weight: 400;
  color: #121d2a;
  padding: 5px 14px;
  color: #7a7a7a;
}
body .mainContainer .blogContents .blogContentContainer nav:first-child ul li a:hover a {
  font-weight: 600;
  color: #121d2a;
}
body .mainContainer .blogContents .blogContentContainer nav:first-child ul li a:hover:hover {
  border-bottom: 2px solid #121d2a;
}
body .mainContainer .blogContents .blogContentContainer nav:first-child ul li:first-child {
  border: none !important;
}
body .mainContainer .blogContents .blogContentContainer nav:first-child ul li:first-child a {
  font-weight: 600;
  color: #121d2a;
}
body .mainContainer .blogContents .blogContentContainer nav:first-child ul li:first-child:hover {
  border-bottom: 2px solid #121d2a;
}
body .mainContainer .blogContents .blogContentContainer .blogPostContainer {
  padding-top: 35px;
}
body .mainContainer .blogContents .blogContentContainer .blogPostContainer .postCard {
  width: 31%;
}
body .mainContainer .blogContents .blogContentContainer .blogPostContainer .postCard .postCategory {
  font-size: 0.8rem;
  font-weight: 500;
  color: #7a7a7a;
  background-color: #f2feff;
}
body .mainContainer .blogContents .blogContentContainer .blogPostContainer .postCard .postCategory p:first-child {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 600;
}
body .mainContainer .blogContents .blogContentContainer .blogPostContainer .postCard .postTitle h2 {
  color: #121d2a;
}
body .mainContainer .blogContents .blogContentContainer .blogPostContainer .postCard .postParagraph {
  font-size: 0.9rem;
  font-weight: 400;
  color: #121d2a;
  color: #7a7a7a;
}
body .mainContainer .blogContents .blogContentContainer .blogPostContainer .postCard .readPostBtn a {
  border-radius: 4px;
  padding: 9px 12px;
  font-size: 0.9rem;
  font-weight: 400;
  color: #121d2a;
  background-color: #00e87c;
}
body .mainContainer .blogContents .blogContentContainer .blogPostContainer .postCard .readPostBtn a:hover {
  background-color: #4fe3b6;
}
body .mainContainer .blogContents .dropUsAmessage {
  position: relative;
  top: 110px;
  background-color: #f2feff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
body .mainContainer .blogContents .dropUsAmessage .textBlockContainer p {
  width: 60%;
  font-size: 0.9rem;
  font-weight: 400;
  color: #121d2a;
  color: #7a7a7a;
}
body .mainContainer .blogContents .dropUsAmessage .textBlockContainer a {
  border-radius: 4px;
  padding: 9px 12px;
  font-size: 0.9rem;
  font-weight: 400;
  color: #121d2a;
  background-color: #00e87c;
}
body .mainContainer .blogContents .dropUsAmessage .textBlockContainer a:hover {
  background-color: #4fe3b6;
}
body .mainContainer .modalContainer label {
  font-size: 0.8rem;
  font-weight: 500;
  color: #7a7a7a;
}
body .mainContainer .modalContainer .modal-footer button:last-child {
  color: #121d2a;
  background-color: #00e87c;
  border: none !important;
}
body footer {
  height: 350px;
  background-color: #121d2a;
  padding: 0 12%;
}
body footer div {
  width: 25%;
  display: flex;
  margin-top: 100px;
}
body footer div ul p {
  color: #ffffff;
  margin-bottom: 16px;
  font-size: 0.9rem;
  font-weight: 300;
}
body footer div ul li a {
  font-size: 0.8rem;
  font-weight: 500;
  color: #7a7a7a;
  color: #7a7a7a;
}
body footer div ul li a:hover {
  color: #4fe3b6;
}
body footer div:last-child ul li ul {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
body footer div:last-child ul li ul li a {
  width: 20px;
}
body footer div:last-child ul li ul li a img {
  width: 18px;
}
body footer div:last-child ul .logoList a img {
  width: 100px;
}
body .postBtn {
  position: fixed;
  bottom: 70px;
  right: 50px;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  font-size: 30px;
  color: #ffffff;
  box-shadow: 0px 0px 30px #00c75a;
  background-color: #ff0080;
}
body .postBtn:hover {
  background-color: #ff00c8;
}

/*# sourceMappingURL=main.css.map */
