@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
body {
  font-family: "Poppins", sans-serif;
}

*, img, a, ul, li, p, h2, h3, h4, h5, h6, input, textarea {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  resize: none !important;
}

.form-control:focus {
  box-shadow: none !important;
}
.form-control:focus {
  box-shadow: none !important;
}
.form-control input[type=search]::-webkit-search-decoration,
.form-control input[type=search]::-webkit-search-cancel-button,
.form-control input[type=search]::-webkit-search-results-button,
.form-control input[type=search]::-webkit-search-results-decoration {
  display: none;
}

.form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%239D9D9D' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  font-size: 0.9rem;
  font-weight: 500;
  color: #9d9d9d;
  font-weight: 400;
}
.form-select option {
  color: rgba(0, 0, 0, 0.7176470588);
  font-weight: 500;
}
.form-select:focus {
  box-shadow: none !important;
  border-width: 1px !important;
}

body .myAlert {
  margin-top: 95px !important;
  color: #121d2a;
  background-color: #00e87c;
}
body .myAlert div {
  display: flex;
  align-items: center;
}
body .myAlert div i {
  font-size: 25px;
  margin-right: 10px;
}
body .mainContainer {
  max-width: 100%;
  background-color: #ffffff;
}
body .mainContainer header {
  padding: 0 12%;
  height: 70px;
  background-color: #ffffff;
}
body .mainContainer header .logoContainer img {
  width: 60%;
}
body .mainContainer header nav {
  width: 50%;
}
body .mainContainer header nav ul li a {
  color: black;
  font-size: 0.9rem;
  font-weight: 500;
}
body .mainContainer header nav ul .home a {
  padding-top: 23px;
  padding-bottom: 23px;
}
body .mainContainer header nav ul .posts a {
  border-bottom: 2px solid #121d2a;
  padding-top: 23px;
  padding-bottom: 23px;
}
body .mainContainer header nav ul .notLoggedIn a {
  width: 66px;
  padding: 4px 0 4px 5px;
  margin-left: 10px;
}
body .mainContainer header nav ul .notLoggedIn a .userIconPlaceholder {
  font-size: 36px;
  margin-left: 17px;
  margin-top: -2px;
}
body .mainContainer header nav ul .notLoggedIn a i {
  position: relative;
  top: 2px;
  right: 10px;
  color: #9d9d9d;
  font-size: 0.7rem;
  font-weight: 500;
}
body .mainContainer header nav ul .notLoggedIn a:hover {
  border: none;
}
body .mainContainer header nav ul .notLoggedIn:hover {
  border-radius: 50px;
  background-color: rgb(215, 252, 246);
}
body .mainContainer header nav ul .notLoggedIn:hover i {
  color: #121d2a;
}
body .mainContainer header nav ul .notLoggedIn .profileDropdown {
  display: none;
  position: absolute;
  top: 70px;
  right: 21%;
  width: 10%;
  padding-left: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.089);
  transition: all 1s ease;
}
body .mainContainer header nav ul .notLoggedIn .profileDropdown ul a {
  width: 100%;
  display: flex;
  margin: 7px 0;
  margin-bottom: 0;
  padding: 7px 20px 0 20px;
  color: #121d2a;
  font-size: 0.9rem;
  border-left: 2px solid #ffffff;
}
body .mainContainer header nav ul .notLoggedIn .profileDropdown ul a i {
  font-size: 1.05rem;
  font-weight: 400;
  color: #121d2a;
}
body .mainContainer header nav ul .notLoggedIn .profileDropdown ul a:hover {
  font-size: 0.9rem;
  font-weight: 500;
  border-left: 2px solid #121d2a;
}
body .mainContainer header nav ul .notLoggedIn .profileDropdown ul .signup {
  background-color: #00e87c;
  border: none !important;
  padding: 8px 20px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
body .mainContainer header nav ul .notLoggedIn .profileDropdown ul .signup:hover {
  color: #ffffff;
  background-color: #00835c;
}
body .mainContainer header nav ul .notLoggedIn .profileDropdown ul .signup:hover i {
  color: #ffffff;
}
body .mainContainer header nav ul .profile a {
  width: 66px;
  padding: 4px;
  margin-left: 10px;
}
body .mainContainer header nav ul .profile a i {
  position: relative;
  top: 2px;
  right: 10px;
  color: #9d9d9d;
  font-size: 0.7rem;
  font-weight: 500;
}
body .mainContainer header nav ul .profile a img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50px;
  border: 1px solid #ffffff;
}
body .mainContainer header nav ul .profile a:hover {
  border: none;
}
body .mainContainer header nav ul .profile form button {
  width: 100%;
  margin-top: 10px;
}
body .mainContainer header nav ul .profile form button i {
  position: relative;
  top: 2px;
  left: -20px;
  color: #121d2a;
  font-size: 0.9rem;
}
body .mainContainer header nav ul .profile form button span {
  position: relative;
  left: -10px;
  font-size: 0.8rem;
  font-weight: 500;
}
body .mainContainer header nav ul .profile:hover {
  border-radius: 50px;
  background-color: rgb(215, 252, 246);
}
body .mainContainer header nav ul .profile:hover i {
  color: #121d2a;
}
body .mainContainer header nav ul .profile .profileDropdown {
  display: none;
  position: absolute;
  top: 70px;
  right: 21%;
  width: 10%;
  padding-left: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.089);
  transition: all 1s ease;
}
body .mainContainer header nav ul .profile .profileDropdown ul a {
  width: 100%;
  display: flex;
  margin: 7px 0;
  margin-bottom: 0;
  padding: 7px 20px 0 20px;
  color: #121d2a;
  font-size: 0.9rem;
  border-left: 2px solid #ffffff;
}
body .mainContainer header nav ul .profile .profileDropdown ul a i {
  font-size: 1.05rem;
  font-weight: 400;
  color: #121d2a;
}
body .mainContainer header nav ul .profile .profileDropdown ul a:hover {
  font-size: 0.9rem;
  font-weight: 500;
  border-left: 2px solid #121d2a;
}
body .mainContainer header nav ul .profile .profileDropdown ul .logout {
  background-color: rgba(235, 37, 63, 0.2666666667);
  border: none !important;
  padding: 8px 20px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
body .mainContainer header nav ul .profile .profileDropdown ul .logout:hover {
  color: #ffffff;
  background-color: #eb253f;
}
body .mainContainer header nav ul .profile .profileDropdown ul .logout:hover i {
  color: #ffffff;
}
body .mainContainer header nav ul .search i {
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  padding: 14px 25px;
  background-color: #121d2a;
  -webkit-text-stroke: 0.5px;
  border-radius: 4px;
}
body .mainContainer header nav ul .search i:hover {
  color: #121d2a;
  background-color: #00e87c;
  transition: all 0.3s ease-in-out;
}
body .mainContainer header nav ul a {
  width: 100px;
  text-align: center;
  padding: 23px 8px;
  font-size: 0.9rem;
  color: #121d2a;
  letter-spacing: 0.5px;
  font-weight: 600;
}
body .mainContainer header nav ul a:hover {
  color: #121d2a;
  font-weight: 500;
  border-bottom: 2px solid #121d2a;
}
body .mainContainer header nav ul a:hover {
  color: #121d2a;
  font-weight: 600;
  transition: all 0.1s ease;
}
body .mainContainer .hero {
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 12%;
  background-color: rgb(242, 254, 255);
}
body .mainContainer .hero .caption {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
body .mainContainer .hero .caption .dashboardView {
  font-size: 1.3rem;
  font-weight: 600;
}
body .mainContainer .hero .caption .dashboardView p {
  font-size: 0.9rem;
  text-align: center;
  color: #7a7a7a;
  line-height: 1.5rem;
}
body .mainContainer .hero .caption .notLoggedIndashboardView {
  width: 35%;
  text-align: center;
}
body .mainContainer .hero .caption .notLoggedIndashboardView div .actionBtn {
  width: 40%;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 8px 25px;
  color: #121d2a;
  background-color: #00e87c;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
}
body .mainContainer .hero .caption .notLoggedIndashboardView div .actionBtn:hover {
  color: #ffffff;
  background-color: #00835c;
}
body .mainContainer .hero .caption .notLoggedIndashboardView p {
  width: 90%;
  font-size: 0.8rem;
  font-weight: 500;
  font-weight: 400;
  color: #7a7a7a;
  line-height: 1.3rem;
}
body .mainContainer .blogContents {
  padding: 0 12%;
  width: 100%;
  background-color: #ffffff;
}
body .mainContainer .blogContents .blogContentContainer .blogPostContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 2px;
}
body .mainContainer .blogContents .blogContentContainer .blogPostContainer .postCard {
  width: 240px;
  word-break: break-all;
  hyphens: auto;
  margin-bottom: 24px;
  overflow: hidden;
  transition: translate 0.5s ease;
  background-color: #ffffff;
}
body .mainContainer .blogContents .blogContentContainer .blogPostContainer .postCard:hover {
  translate: 0 -2%;
  box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.123);
}
body .mainContainer .blogContents .blogContentContainer .blogPostContainer .postCard .postPhoto .upperInfo {
  width: 70%;
  color: rgba(0, 0, 0, 0.7176470588);
  position: absolute;
  top: 10px;
  right: 0;
}
body .mainContainer .blogContents .blogContentContainer .blogPostContainer .postCard .postPhoto .upperInfo .postTime {
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 50px;
  padding: 3px 8px;
  background-color: rgba(255, 255, 255, 0.678);
}
body .mainContainer .blogContents .blogContentContainer .blogPostContainer .postCard .postPhoto .upperInfo .moreInfo {
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 50px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.678);
}
body .mainContainer .blogContents .blogContentContainer .blogPostContainer .postCard .postPhoto .upperInfo .moreInfo:hover {
  background-color: #ffffff;
}
body .mainContainer .blogContents .blogContentContainer .blogPostContainer .postCard .postPhoto .rightSideInfo {
  position: absolute;
  top: 60px;
  right: 0;
  color: rgba(0, 0, 0, 0.7176470588);
}
body .mainContainer .blogContents .blogContentContainer .blogPostContainer .postCard .postPhoto .rightSideInfo .iconDiv {
  font-size: 1.05rem;
  font-weight: 400;
  border-radius: 50px;
  padding: 9px 8px 6px 8px;
  background-color: rgba(255, 255, 255, 0.678);
}
body .mainContainer .blogContents .blogContentContainer .blogPostContainer .postCard .postPhoto .rightSideInfo .iconDiv:hover {
  background-color: #ffffff;
}
body .mainContainer .blogContents .blogContentContainer .blogPostContainer .postCard .postPhoto:hover .upperInfo {
  width: 70%;
  color: rgba(0, 0, 0, 0.7176470588);
  position: absolute;
  top: 10px;
  right: 0;
}
body .mainContainer .blogContents .blogContentContainer .blogPostContainer .postCard .postPhoto:hover .upperInfo .postTime {
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 50px;
  padding: 3px 8px;
  background-color: rgba(255, 255, 255, 0.678);
}
body .mainContainer .blogContents .blogContentContainer .blogPostContainer .postCard .postPhoto:hover .upperInfo .moreInfo {
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 50px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.678);
}
body .mainContainer .blogContents .blogContentContainer .blogPostContainer .postCard .postPhoto:hover .upperInfo .moreInfo:hover {
  background-color: #ffffff;
}
body .mainContainer .blogContents .blogContentContainer .blogPostContainer .postCard .postPhoto:hover .rightSideInfo {
  position: absolute;
  top: 60px;
  right: 0;
  color: rgba(0, 0, 0, 0.7176470588);
}
body .mainContainer .blogContents .blogContentContainer .blogPostContainer .postCard .postPhoto:hover .rightSideInfo .iconDiv {
  font-size: 1.05rem;
  font-weight: 400;
  border-radius: 50px;
  padding: 9px 8px 6px 8px;
  background-color: rgba(255, 255, 255, 0.678);
}
body .mainContainer .blogContents .blogContentContainer .blogPostContainer .postCard .postPhoto:hover .rightSideInfo .iconDiv:hover {
  background-color: #ffffff;
}
body .mainContainer .blogContents .blogContentContainer .blogPostContainer .postCard .postPhoto a img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
body .mainContainer .blogContents .blogContentContainer .blogPostContainer .postCard .postCategory {
  font-size: 0.7rem;
  font-weight: 500;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7176470588);
  background-color: rgb(242, 254, 255);
}
body .mainContainer .blogContents .blogContentContainer .blogPostContainer .postCard .postCategory p:first-child {
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
}
body .mainContainer .blogContents .blogContentContainer .blogPostContainer .postCard .postCategory p:last-child {
  color: #9d9d9d;
  font-size: 0.7rem;
  font-weight: 500;
}
body .mainContainer .blogContents .blogContentContainer .blogPostContainer .postCard .postTitle h6 {
  font-size: 0.8rem;
  font-weight: 500;
  color: #121d2a;
  font-weight: 600;
  margin-top: -12px;
  margin-bottom: 4px;
}
body .mainContainer .blogContents .blogContentContainer .blogPostContainer .postCard .postParagraph {
  font-size: 0.8rem;
  font-weight: 500;
  font-weight: 400;
  line-height: 1rem;
  color: #7a7a7a;
  margin-bottom: 4px;
}
body .mainContainer .blogContents .dropUsAmessage {
  position: relative;
  top: 110px;
  background-color: rgb(242, 254, 255);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
body .mainContainer .blogContents .dropUsAmessage .textBlockContainer p {
  width: 60%;
  font-size: 0.9rem;
  color: #7a7a7a;
}
body .mainContainer .blogContents .dropUsAmessage .textBlockContainer a {
  border-radius: 4px;
  padding: 9px 12px;
  font-size: 0.9rem;
  color: #121d2a;
  background-color: #00e87c;
}
body .mainContainer .blogContents .dropUsAmessage .textBlockContainer a:hover {
  color: #ffffff;
  background-color: #00835c;
}
body .mainContainer .modalContainer label {
  font-size: 0.8rem;
  font-weight: 500;
}
body .mainContainer .modalContainer textarea.decriptionField::placeholder {
  padding-top: 30px;
}
body .mainContainer .modalContainer .modal-footer button:last-child {
  color: #121d2a;
  background-color: #00e87c;
  border: none !important;
}
body .mainContainer .modalContainer .modal-footer button:last-child:hover {
  color: #ffffff;
  background-color: #121d2a;
}
body footer {
  height: 350px;
  background-color: #121d2a;
  padding: 0 12%;
}
body footer div {
  width: 25%;
  display: flex;
  margin-top: 100px;
}
body footer div ul p {
  color: #ffffff;
  margin-bottom: 16px;
  font-size: 0.9rem;
  font-weight: 300;
}
body footer div ul li a {
  font-size: 0.8rem;
  font-weight: 500;
  color: #7a7a7a;
}
body footer div ul li a:hover {
  color: #00835c;
}
body footer div:last-child ul li ul {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
body footer div:last-child ul li ul li a {
  width: 20px;
}
body footer div:last-child ul li ul li a img {
  width: 18px;
}
body footer div:last-child ul .logoList a img {
  width: 100px;
}

/*# sourceMappingURL=posts.css.map */
