@import "./reset";
@import "./myBootstrap";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

body {

    .myAlert {
        div {
            display: flex;
            align-items: center;
            i {
                font-size: 25px;
                margin-right: 10px;
            }
        }
        margin-top: 95px !important;
        color: $black;
        background-color: $primaryColor;
    }

    .mainContainer {
        max-width: 100%;
        background-color: $lightGrey;

        header {
            @include widthPadding; // provides left and right padding for hero
            height: 70px;
            background-color: $white;
            .logoContainer {
                img {
                    width: 60%;
                }
            }

            nav { // main navigation
                width: 50%;
                ul {
                    li {
                        &:nth-child(1) {
                            color: $black;
                            font-weight: 500;
                            padding: 22px 0;
                            border-bottom: 2px solid $black;
                        }
                        &:nth-child(4) { // user account profile li 
                            a {
                                width: 75px;
                                padding: 4px;
                                margin-left: 10px;
                                i { // caret dropdown icon
                                    position: relative;
                                    top: 2px;
                                    right: 10px;
                                    color: $grey;
                                }
                                img {
                                    width: 50px;
                                    border-radius: 50px;
                                    &:hover {
                                        border: 1px solid $black;
                                    }
                                }
                                &:hover {
                                    border: none;
                                }
                            }
                            &:hover { // user account li hover
                                border-radius: 50px;
                                background-color: $veryLightGreenColor;
                                i {
                                    color: $black;
                                }
                            } 
                        }

                        &:last-child { // li for search icon
                            i {
                                color: $white;
                                font-size: 13px;
                                text-align: center;
                                padding: 14px 25px;
                                background-color: $black;
                                -webkit-text-stroke: .5px;
                                border-radius: 4px;
                                &:hover {
                                    color: $black;
                                    background-color: $primaryColor;
                                    transition: all 0.3s ease-in-out;
                                }
                            }
                        }

                        a {
                            width: 100px;
                            text-align: center;
                            padding: 23px 8px; // targets the height and width of main nav <a> tags
                            @include primaryFont;
                            color: $black;
                            letter-spacing: .5px;
                            font-weight: 600;
                            @include navLinkHover;
                            &:hover {
                                color: $black;
                                font-weight: 600;
                                transition: all 0.1s ease;
                            }
                        }
                    }
                }
            }
        }

        .blogContents { // (section) blog contents container start here
            width: 100%;
            padding-top: 6%;
            @include widthPadding;

            section {
                .mainContentContainer {
                    width: 64.5%;
                    padding-top: 30px;
                    // border: 10px solid red;

                    .postCard { // blog post card starts here
                        width: 87%;
                        word-break: break-all;
                        hyphens: auto;
                        margin-bottom: 30px;
                        transition: translate 0.5s ease;
                        background-color: $white;
                        &:hover {
                            // translate: 0 -1%;
                            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.123)
                        }

                        .postHeader {
                            width: 100%;
                            height: 50px;
                            display: flex;
                            align-items: center;
                            padding: 0 10px;
                            justify-content: space-between;

                            .userAvater {
                                display: flex;
                                align-items: center;
                                img {
                                    width: 38px;
                                    height: 38px;
                                    border-radius: 50px;
                                    border: 1px solid $lightGrey;
                                }

                                .avaterDetails {
                                    p {
                                        @include tinyFont;
                                        font-weight: 600;
                                        text-transform: lowercase;
                                        color: $black;
                                    }                                
                                }
                                
                                // p:last-child {
                                //     @include tinyFont;
                                //     font-weight: 400;
                                //     text-transform: capitalize;
                                //     letter-spacing: 1px;
                                //     color: $grey;
                                // }
                            }

                            .postInfo {
                                display: flex;
                                align-items: center;
                                p {
                                    @include veryLittleFont;
                                    margin-right: 5px;
                                    color: $veryLightGrey;
                                }

                                i {
                                    @include semiPrimaryFont;
                                    color: $black;
                                    padding: 10px;
                                    &:hover {
                                        border-radius: 50%;
                                        background-color: $lightGrey;
                                    }
                                }
                            }
                        }

                        // a {
                            .postPhoto {
                                overflow: hidden;
                                img {
                                    width: 100%;
                                    height: 330px;
                                    object-fit: cover;
                                    transition: transform .5s ease-in-out;
                                    &:hover {
                                        transform: scale(1.01);
                                        // transform: scale(2) rotate(25deg);
                                    }
                                }
                                .timeAgo {
                                    background-color: $transparentWhite;
                                    h4 {
                                        @include tinyFont;
                                    }
                                }
                            }

                            .postCategory {
                                .rightIconsDiv {
                                    height: 25vh;
                                    position: relative;
                                    bottom: 0px;
                                    margin: -190px 20px 0 0;
                                    div {
                                        display: flex;
                                        flex-direction: row-reverse;
                                        align-items: center;
                                        margin-bottom: 7px;

                                        i {
                                            @include postIcon;
                                            margin-bottom: 5px;
                                            transition: all .4s;
                                            z-index: 2;
                                        }
    
                                        p {
                                            @include veryLittleFont;
                                            position: relative;
                                            left: 4px;
                                            color: $black;
                                            background-color: $transparentWhite;
                                            padding: 0 10px 0 6px; 
                                            border-radius: 20px;
                                            border-top-right-radius: 0;
                                            border-bottom-right-radius: 0;
                                            z-index: 0;
                                        }

                                        &:hover {
                                            i {
                                                background-color: $veryLightGreenColor;
                                            }
                                        }
                                        &:hover {
                                            p {
                                                background-color: $veryLightGreenColor;
                                            }
                                        }
                                    }
                                }
                            }
                            
                            .postTextWrapper {
                                padding: 10px 15px;
    
                                .postTitle {
                                    p {
                                        @include tinyFont;
                                        color: $black;
                                        font-weight: 500;
                                        letter-spacing: 1px;
                                        margin-bottom: 8px;
                                        text-transform: capitalize;   
                                    }
                                }
        
                                .postParagraph {
                                    @include tinyFont;
                                    padding-bottom: 10px;
                                    color: $lightBlack;
    
                                    span {
                                        color: $grey;
                                        @include tinyFont;
                                        font-weight: 400;
                                    }
                                }
                                
                                .commentsCount {
                                    @include tinyFont;
                                    color: $veryLightGrey;
                                }
                            }

                            .postCommentWrapper {
                                padding: 10px 15px;
                                border-top: 1px solid $lightGrey;
                                .emojiWrapper {
                                    width: 6%;
                                    i {
                                        font-weight: 700;
                                        @include semiTertiaryFont;
                                        color: $black;
                                    }
                                }

                                .commentWrapper {
                                    width: 87%;
                                    textarea {
                                        width: 100%;
                                        height: 20px;
                                        border: none;
                                        resize: none;
                                        overflow-y: hidden;
                                        // border: 1px solid red;
                                        &::placeholder {
                                            @include tinyFont;
                                            color: $veryLightGrey;
                                        }
                                    }
                                }

                                .postBtnWrapper {
                                    width: 7%;
                                    // border: 1px solid red;

                                    button {
                                        border: none;
                                        background: none;
                                        @include semiTinyFont;
                                        font-weight: 400;
                                        color: $green;
                                    }
                                }
                            }

                        // }
                    }
                }

                .rightSideContentContainer { // (aside) aside starts here
                    width: 35.5%;
                    height: 100vh;
                    top: 100px;
                    position: sticky;
                    position: -webkit-sticky;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .captionCard { // captionCard link
                        width: 90%;
                        height: 50px;
                        i:first-child {
                            font-size: 30px;
                            color: $black;
                            background-color: $lightGrey;
                        } 
                        i:last-child {
                            @include primaryFont;
                            color: $black;
                        }
                        h4 {
                            @include primaryFont;
                            letter-spacing: 2px;
                            font-weight: 500;
                            text-transform: uppercase;
                            color: $black;
                        }
                        &:hover {
                            background-color: $veryLightGreenColor;
                        }
                    }       
                    
                    .productCard {
                        @include productCard;
                    }
                }
            }

            .dropUsAmessage { // this block styles the div before the footer
                position: relative;
                top: 110px;
                background-color: $lightGreenColor;
                box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);

                .textBlockContainer {
                    p {
                        width: 60%;
                        @include primaryFont;
                        color: $grey;
                    }

                    a {
                        @include primaryBtn;
                        &:hover {
                            background-color: $accentColor;
                        }
                    }
                }
            }
        }
    }

    footer { // footer starts here
        height: 350px;
        background-color: $black;
        @include widthPadding;

        div {
            width: 25%;
            display: flex;
            margin-top: 100px;

            ul {
                p {
                    color: $white;
                    margin-bottom: 16px;
                    @include secondaryFont;
                }

                li {
                    a {
                        @include tinyFont;
                        color: $grey;

                        &:hover {
                            color: $green;
                        }
                    }
                }
            }
        }

        div:last-child {
            ul {
                li {
                    ul {
                        width: 150px;
                        display: flex;
                        justify-content: space-between;
                        li {
                            a {
                                width: 20px;
                                img {
                                    width: 18px;                   
                                }
                            }
                        }
                    }
                }

                .logoList {
                    a {
                        img {
                            width: 100px;
                        }
                    }
                }
            }
        }
    }

    .postBtn {
        position: fixed;
        bottom: 70px;
        right: 45px;
        width: 70px;
        height: 70px;
        border-radius: 50px;
        font-size: 30px;
        color: $white;
        box-shadow: 0px 0px 30px #c70021;
        @include accentColorBtn;
    }
 
}