@import "./reset";
@import "./myBootstrap";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

body {

    .mainContainer {
        max-width: 100%;
        background-color: $lightGrey;

        header {
            @include widthPadding; // provides left and right padding for hero
            height: 70px;
            background-color: $white;
            .logoContainer {
                img {
                    width: 60%;
                }
            }

            nav { // main navigation
                width: 50%;
                ul {
                    li {
                        a {
                            color: black;
                            @include primaryFont;
                            font-weight: 500;
                        }
                    }
                    .home {
                        a {
                            // padding: 23px 0;
                            padding-top: 23px;
                            padding-bottom: 23px;
                            border-bottom: 2px solid $black;
                        }
                    }

                    .profile { // user account profile li 
                        a {
                            width: 66px;
                            padding: 4px;
                            margin-left: 10px;

                            i { // caret dropdown icon
                                position: relative;
                                top: 2px;
                                right: 10px;
                                color: $veryLightGrey;
                                @include veryLittleFont;
                            }

                            img {
                                width: 40px;
                                height: 40px;
                                object-fit: cover;
                                border-radius: 50px;
                                border: 1px solid $white;
                            }

                            &:hover {
                                border: none;
                            }
                        }
                        &:hover { // user account li hover
                            border-radius: 50px;
                            background-color: $veryLightGreenColor;
                            i {
                                color: $black;
                            }
                        } 

                        .profileDropdown {
                            display: none;
                            position: absolute;
                            top: 70px;
                            right: 21%;
                            width: 10%;
                            padding-left: 0;
                            border-bottom-left-radius: 4px;
                            border-bottom-right-radius: 4px;
                            background-color: $white;
                            box-shadow: 0 0 4px rgba(0, 0, 0, 0.089);
                            transition: all 1s ease;
                            ul {
                                a {
                                    width: 100%;
                                    display: flex;
                                    margin: 7px 0;
                                    margin-bottom: 0;
                                    padding: 7px 20px 0 20px;
                                    color: $black;
                                    @include primaryFont;
                                    border-left: 2px solid $white;
                                    // background-color: red;
                                    i {
                                        @include semiPrimaryFont;
                                        color: $black;
                                    }
                                    &:hover {
                                        @include primaryFont;
                                        font-weight: 500;
                                        border-left: 2px solid $black;
                                    }
                                }
                                .logout {
                                    background-color: $veryLightRedColor;
                                    border: none !important;
                                    padding: 8px 20px;
                                    border-bottom-left-radius: 4px;
                                    border-bottom-right-radius: 4px;
                                    &:hover {
                                        color: $white;
                                        background-color: $accentHoverColor;
                                        i {
                                            color: $white;
                                        }
                                    }
                                }
                            }
                        }
                        
                    }

                    .search { // li for search icon
                        i {
                            color: $white;
                            font-size: 13px;
                            text-align: center;
                            padding: 14px 25px;
                            background-color: $black;
                            -webkit-text-stroke: .5px;
                            border-radius: 4px;
                            &:hover {
                                color: $black;
                                background-color: $primaryColor;
                                transition: all 0.3s ease-in-out;
                            }
                        }
                    }

                    a {
                        width: 100px;
                        text-align: center;
                        padding: 23px 8px; // targets the height and width of main nav <a> tags
                        @include primaryFont;
                        color: $black;
                        letter-spacing: .5px;
                        font-weight: 600;
                        @include navLinkHover;
                        &:hover {
                            color: $black;
                            font-weight: 600;
                            transition: all 0.1s ease;
                        }
                    }
                }
            }
        }

        .blogContents { // (section) blog contents container start here
            width: 100%;
            padding-top: 6%;
            @include widthPadding;

            section {
                .mainContentContainer {
                    width: 50%;
                    padding-top: 30px;

                    .postCard { // blog post card starts here
                        width: 100%;
                        word-break: break-all;
                        hyphens: auto;
                        margin-bottom: 30px;
                        transition: translate 0.5s ease;
                        background-color: $white;
                        &:hover {
                            // translate: 0 -1%;
                            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.123)
                        }

                        .postHeader {
                            width: 100%;
                            height: 55px;
                            display: flex;
                            align-items: center;
                            padding: 0 10px;
                            justify-content: space-between;

                            .userAvater {
                                display: flex;
                                align-items: center;
                                img {
                                    width: 38px;
                                    height: 38px;
                                    border-radius: 50px;
                                    border: 1px solid $lightGrey;
                                }

                                .avaterDetails {
                                    p {
                                        @include tinyFont;
                                        font-weight: 600;
                                        text-transform: lowercase;
                                        color: $black;
                                    }                                
                                }
                            }

                            .postInfo {
                                display: flex;
                                align-items: center;
                                p {
                                    @include veryLittleFont;
                                    margin-right: 5px;
                                    color: $veryLightGrey;
                                }

                                i {
                                    @include semiPrimaryFont;
                                    color: $grey;
                                    padding: 10px;
                                    &:hover {
                                        color: $black;
                                        border-radius: 50%;
                                        background-color: $lightGrey;
                                    }
                                }

                                .moreInfoModal {
                                    .modal-dialog {
                                        width: 27%;

                                        .modal-body {
                                            padding: 0;
                                            ul {
                                                width: 100%;
                                                a {
                                                    li {
                                                        width: 100%;
                                                        color: $black;
                                                        padding: 14px 0;
                                                        @include tinyFont;
                                                        font-weight: 400;
                                                        border-bottom: 1px solid $borderGrey;

                                                        &:hover {
                                                            background-color: $lightGrey;
                                                        }
                                                    }
                                                    .nthChild {
                                                        color: $accentHoverColor;
                                                        font-weight: 600;
                                                    }
                                                    .lastChild {
                                                        border-bottom: none;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .postPhoto {
                            overflow: hidden;
                            img {
                                width: 100%;
                                height: 330px;
                                object-fit: cover;
                                transition: transform .5s ease-in-out;
                                &:hover {
                                    transform: scale(1.01);
                                    // transform: scale(2) rotate(25deg);
                                }
                            }
                            .timeAgo {
                                background-color: $transparentWhite;
                                h4 {
                                    @include tinyFont;
                                }
                            }
                        }

                        .postCategory {
                            .rightIconsDiv {
                                position: relative;
                                bottom: 30px;
                                margin: -180px 20px 0 0;
                                // border: 1px solid red;
                                div {
                                    display: flex;
                                    justify-content: center;
                                    flex-direction: column;
                                    align-items: center;

                                    i {
                                        @include postIcon;
                                        margin-bottom: 0px;
                                        transition: all .4s;
                                    }

                                    p {
                                        @include veryLittleFont;
                                        font-weight: 600;
                                        color: $black;
                                        background-color: $slightTransparentWhite;
                                        padding: 0 7px; 
                                        border-radius: 3px;
                                    }

                                    &:hover {
                                        i {
                                            background-color: $white;
                                        }
                                    }
                                    &:hover {
                                        p {
                                            background-color: $white;
                                        }
                                    }
                                }

                                .shares {
                                    i {
                                        transform: scaleX(-1);
                                        transform-origin: 50% 50%;
                                        -webkit-transform: scaleX(-1); /* Safari and Chrome */
                                        -moz-transform: scaleX(-1); /* Firefox */
                                        -ms-transform: scaleX(-1); /* Internet Explorer */
                                        -o-transform: scaleX(-1); /* Opera */
                                    }
                                }
                            }
                        }
                        
                        .postTextWrapper {
                            padding: 10px 15px;

                            .postTitle {
                                p {
                                    @include veryLittleFont;
                                    color: $black;
                                    font-weight: 500;
                                    letter-spacing: 1px;
                                    margin-bottom: 8px;
                                    text-transform: uppercase;   
                                }
                            }
    
                            .postParagraph {
                                display: flex;
                                // flex-direction: column;
                                @include tinyFont;
                                padding-bottom: 10px;
                                color: $lightBlack;

                                button {
                                    color: $grey;
                                    @include tinyFont;
                                    font-weight: 400;
                                    border: none;
                                    background: none;
                                }
                            }
                            
                            .commentsCount {
                                @include tinyFont;
                                color: $veryLightGrey;
                            }
                        }

                        .postCommentWrapper {
                            padding: 12px 15px;
                            border-top: 1px solid $lightGrey;
                            .emojiWrapper {
                                width: 6%;
                                i {
                                    font-weight: 700;
                                    @include semiTertiaryFont;
                                    color: $black;
                                }
                            }

                            .commentWrapper {
                                width: 84%;
                                textarea {
                                    width: 100%;
                                    height: 20px;
                                    border: none;
                                    resize: none;
                                    padding-right: 4.4px;
                                    @include tinyFont;
                                    color: $black;
                                    line-height: 1rem;
                                    &::placeholder {
                                        @include tinyFont;
                                        color: $veryLightGrey;
                                    }

                                    &:focus {
                                        outline: none;
                                    }
                                }
                            }

                            .postBtnWrapper {
                                width: 10%;
                                button {
                                    width: 100%;
                                    border: none;
                                    background: none;
                                    @include semiTinyFont;
                                    font-weight: 500;
                                    color: $lightGreen;
                                }
                            }
                        }
                    }
                }

                .rightSideContentContainer { // (aside) aside starts here
                    display: flex;
                    width: 45.7%;
                    height: 100vh;
                    top: 70px;
                    position: sticky;
                    padding-left: 4%;
                    align-items: center;
                    flex-direction: column;
                }
            }

            .dropUsAmessage { // this block styles the div before the footer
                position: relative;
                top: 110px;
                background-color: $lightGreenColor;
                box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);

                .textBlockContainer {
                    p {
                        width: 60%;
                        @include primaryFont;
                        color: $grey;
                    }

                    a {
                        @include primaryBtn;
                        &:hover {
                            background-color: $accentColor;
                        }
                    }
                }
            }
        }
    }

    footer { // footer starts here
        height: 350px;
        background-color: $black;
        @include widthPadding;

        div {
            width: 25%;
            display: flex;
            margin-top: 100px;

            ul {
                p {
                    color: $white;
                    margin-bottom: 16px;
                    @include secondaryFont;
                }

                li {
                    a {
                        @include tinyFont;
                        color: $grey;

                        &:hover {
                            color: $green;
                        }
                    }
                }
            }
        }

        div:last-child {
            ul {
                li {
                    ul {
                        width: 150px;
                        display: flex;
                        justify-content: space-between;
                        li {
                            a {
                                width: 20px;
                                img {
                                    width: 18px;                   
                                }
                            }
                        }
                    }
                }

                .logoList {
                    a {
                        img {
                            width: 100px;
                        }
                    }
                }
            }
        }
    }

    .modal-dialog { // for Post form
        max-width: none !important;
        display: flex;
        justify-content: center;
        align-items: center;

        .modalContent {
            width: 600px;

            form {

                .modal-body {
                    label {
                        @include tinyFont;
                        font-weight: 400;
                        color: $veryLightGrey;
                    }
                    .addCatBtn {
                        color: $accentColor;
                        border-color: $accentColor;
                        &:hover {
                            color: $white;
                            background-color: $accentColor;
                        }
                    }
                    .input-group {
                        span {
                            i {
                                color: $accentColor;
                            }
                        }
                        input {
                            color: $lightBlack !important;
                            &::placeholder {
                                color: $veryLightGrey;
                                @include primaryFont;
                                font-weight: 400;
                            }
                        }
                        textarea {
                            color: $lightBlack !important;
                            &::placeholder {
                                color: $veryLightGrey;
                                @include primaryFont;
                                font-weight: 400;
                                position: relative;
                                top: 33px;
                            }
                        }
                    }
                }
                .modal-footer {
                    .sendPostBtn {
                        padding: 7px 20px;
                        @include accentColorBtn;
                        border: none;
                    }
                }
            }
        }

    }

    .postBtn {
        position: fixed;
        bottom: 70px;
        right: 45px;
        width: 70px;
        height: 70px;
        border-radius: 50px;
        font-size: 30px;
        color: $white;
        box-shadow: 0px 0px 30px $accentHoverColor;
        @include accentColorBtn;
        z-index: 2;
    }

    .createPostTooltip {
        position: fixed;
        bottom: 80px;
        right: 45px;
        width: 200px;
        // display: none;
        padding: 12px 0 12px 20px;
        border-radius: 50px;
        border: 1px solid $accentHoverColor;
        background-color: $white;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.192);
        z-index: 1;
        transition: right 1.4s, width 1.4s;
        visibility: visible;
      
        p {
          @include semiTinyFont;
          color: $black;
          visibility: visible;
        }
      
        &.hide {
          right: -250px;
          width: 0px;
          visibility: hidden;
      
          p {
            visibility: hidden;
          }
        }
      }
      
      
      
      
      
      
       
}