@import "./reset";
@import "./myBootstrap";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

body {
    .myAlert {
        div {
            display: flex;
            align-items: center;
            i {
                font-size: 25px;
                margin-right: 10px;
            }
        }
        margin-top: 95px !important;
        color: $black;
        background-color: $primaryColor;
    }

    .mainContainer {
        max-width: 100%;
        background-color: $white;

        header {
            @include widthPadding; // provides left and right padding for hero
            height: 70px;
            background-color: $white;
            .logoContainer {
                img {
                    width: 60%;
                }
            }

            nav { // main navigation
                width: 50%;
                ul {
                    li {
                        a {
                            color: black;
                            @include primaryFont;
                            font-weight: 500;
                        }
                    }
                    .home {
                        a {
                            // padding: 23px 0;
                            padding-top: 23px;
                            padding-bottom: 23px;
                        }
                    }

                    .posts {
                        a {
                            border-bottom: 2px solid $black;
                            padding-top: 23px;
                            padding-bottom: 23px;
                        }
                    }

                    .notLoggedIn { // For not notLoggedInAvatar
                        @include notLoggedInAvatar;
                    }

                    .profile { // user account profile li 
                        a {
                            width: 66px;
                            padding: 4px;
                            margin-left: 10px;

                            i { // caret dropdown icon
                                position: relative;
                                top: 2px;
                                right: 10px;
                                color: $veryLightGrey;
                                @include veryLittleFont;
                            }

                            img {
                                width: 40px;
                                height: 40px;
                                object-fit: cover;
                                border-radius: 50px;
                                border: 1px solid $white;
                            }

                            &:hover {
                                border: none;
                            }
                        }
                        form { // Log out form button
                            button {
                                width: 100%;
                                margin-top: 10px;
                                i { // caret dropdown icon
                                    position: relative;
                                    top: 2px;
                                    left: -20px;
                                    color: $black;
                                    @include primaryFont;
                                }
                                span {
                                    position: relative;
                                    left: -10px;
                                    @include tinyFont;
                                }
                            }
                        }
                        &:hover { // user account li hover
                            border-radius: 50px;
                            background-color: $veryLightGreenColor;
                            i {
                                color: $black;
                            }
                        } 

                        .profileDropdown {
                            display: none;
                            position: absolute;
                            top: 70px;
                            right: 21%;
                            width: 10%;
                            padding-left: 0;
                            border-bottom-left-radius: 4px;
                            border-bottom-right-radius: 4px;
                            background-color: $white;
                            box-shadow: 0 0 4px rgba(0, 0, 0, 0.089);
                            transition: all 1s ease;
                            ul {
                                a {
                                    width: 100%;
                                    display: flex;
                                    margin: 7px 0;
                                    margin-bottom: 0;
                                    padding: 7px 20px 0 20px;
                                    color: $black;
                                    @include primaryFont;
                                    border-left: 2px solid $white;
                                    // background-color: red;
                                    i {
                                        @include semiPrimaryFont;
                                        color: $black;
                                    }
                                    &:hover {
                                        @include primaryFont;
                                        font-weight: 500;
                                        border-left: 2px solid $black;
                                    }
                                }
                                .logout {
                                    background-color: $veryLightRedColor;
                                    border: none !important;
                                    padding: 8px 20px;
                                    border-bottom-left-radius: 4px;
                                    border-bottom-right-radius: 4px;
                                    &:hover {
                                        color: $white;
                                        background-color: $accentHoverColor;
                                        i {
                                            color: $white;
                                        }
                                    }
                                }
                            }
                        }
                        
                    }

                    .search { // li for search icon
                        i {
                            color: $white;
                            font-size: 13px;
                            text-align: center;
                            padding: 14px 25px;
                            background-color: $black;
                            -webkit-text-stroke: .5px;
                            border-radius: 4px;
                            &:hover {
                                color: $black;
                                background-color: $primaryColor;
                                transition: all 0.3s ease-in-out;
                            }
                        }
                    }

                    a {
                        width: 100px;
                        text-align: center;
                        padding: 23px 8px; // targets the height and width of main nav <a> tags
                        @include primaryFont;
                        color: $black;
                        letter-spacing: .5px;
                        font-weight: 600;
                        @include navLinkHover;
                        &:hover {
                            color: $black;
                            font-weight: 600;
                            transition: all 0.1s ease;
                        }
                    }
                }
            }
        }

        .hero { // hero
            height: 270px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            @include widthPadding; // provides left and right padding for hero
            background-color: $lightGreenColor;

            .caption {  // hero caption
                width: 100%;
                height: 80%;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;

                div {
                    width: 45%;
                    text-align: center;
                    text-transform: capitalize;

                    tertiaryFont {
                        @include semiTertiaryFont;
                    }

                    p {
                        @include primaryFont;
                        color: $grey;
                        line-height: 1.5rem;
                    }
                }
            }
        }

        .blogContents { // blog contents container start here
            @include widthPadding;
            width: 100%;
            background-color: $white;

            .blogContentContainer {
                .blogPostContainer {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between ;
                    padding-top: 2px; 

                    .postCard { // blog post card starts here
                        width: 240px;
                        word-break: break-all;
                        hyphens: auto;
                        margin-bottom: 24px;
                        overflow: hidden;
                        transition: translate 0.5s ease;
                        background-color: $white;
                        &:hover {
                            translate: 0 -2%;
                            box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.123);
                        }
                        
                        .postPhoto {

                            .upperInfo {
                                width: 70%;
                                color: $lightBlack;
                                position: absolute;
                                top: 10px;
                                right: 0;
                                .postTime {
                                    @include tinyFont;
                                    border-radius: 50px;
                                    padding: 3px 8px;
                                    background-color: $transparentWhite;
                                }
    
                                .moreInfo {
                                    position: absolute;
                                    top: 2px;
                                    right: 10px;
                                    @include semiTinyFont;
                                    border-radius: 50px;
                                    padding: 8px;
                                    background-color: $transparentWhite;
                                    &:hover {
                                        background-color: $white
                                    }
                                }
                            }
        
                            .rightSideInfo {
                                position: absolute;
                                top: 60px;
                                right: 0;
                                color: $lightBlack;
                                .iconDiv {
                                    @include semiPrimaryFont;
                                    border-radius: 50px;
                                    padding: 9px 8px 6px 8px;
                                    background-color: $transparentWhite;
                                    &:hover {
                                        background-color: $white
                                    }
                                }
                            }
                            &:hover {
                                .upperInfo {
                                    width: 70%;
                                    color: $lightBlack;
                                    position: absolute;
                                    top: 10px;
                                    right: 0;
                                    .postTime {
                                        @include tinyFont;
                                        border-radius: 50px;
                                        padding: 3px 8px;
                                        background-color: $transparentWhite;
                                    }
        
                                    .moreInfo {
                                        position: absolute;
                                        top: 2px;
                                        right: 10px;
                                        @include semiTinyFont;
                                        border-radius: 50px;
                                        padding: 8px;
                                        background-color: $transparentWhite;
                                        &:hover {
                                            background-color: $white
                                        }
                                    }
                                }
            
                                .rightSideInfo {

                                    position: absolute;
                                    top: 60px;
                                    right: 0;
                                    color: $lightBlack;
                                    .iconDiv {
                                        @include semiPrimaryFont;
                                        border-radius: 50px;
                                        padding: 9px 8px 6px 8px;
                                        background-color: $transparentWhite;
                                        &:hover {
                                            background-color: $white
                                        }
                                    }
                                }
                            }

                            a {
                                
                                img {
                                    width: 100%;
                                    height: 200px;
                                    object-fit: cover;
                                }

                            }
                        }

                            .postCategory {
                                @include veryLittleFont;
                                font-weight: 500;
                                color: $lightBlack;
                                background-color: $lightGreenColor;
    
                                p:first-child {
                                    @include veryLittleFont;
                                    letter-spacing: 2px;
                                    text-transform: uppercase;
                                    font-weight: 600;
                                }

                                p:last-child {
                                    color: $veryLightGrey;
                                    @include veryLittleFont;
                                }
                            }
    
                            .postTitle {
                                h6 {
                                    @include tinyFont;
                                    color: $black;
                                    font-weight: 600;
                                    margin-top: -12px;
                                    margin-bottom: 4px;
                                }
                            }
    
                            .postParagraph {
                                @include tinyFont;
                                font-weight: 400;
                                line-height: 1rem;
                                color: $grey;
                                margin-bottom: 4px;
                            }   
                    }
                }
            }

            .dropUsAmessage {
                // this block styles the div before the footer
                position: relative;
                top: 110px;
                background-color: $lightGreenColor;
                box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);

                .textBlockContainer {
                    p {
                        width: 60%;
                        @include primaryFont;
                        color: $grey;
                    }

                    a {
                        @include greenBtn;
                    }
                }
            }
        }

        // blog post modal starts here
        .modalContainer {
            label {
                @include tinyFont;
            }

            textarea.decriptionField {
                &::placeholder {
                    padding-top: 30px;
                }
            }

            .modal-footer {
                button:last-child {
                    color: $black;
                    background-color: $primaryColor;
                    border: none !important;
                    &:hover {
                        color: $white;
                        background-color: $black;
                    }
                }
            }
        }
    }

    footer { // footer starts here
        height: 350px;
        background-color: $black;
        @include widthPadding;

        div {
            width: 25%;
            display: flex;
            margin-top: 100px;

            ul {
                p {
                    color: $white;
                    margin-bottom: 16px;
                    @include secondaryFont;
                }

                li {
                    a {
                        @include tinyFont;
                        color: $grey;

                        &:hover {
                            color: $green;
                        }
                    }
                }
            }
        }

        div:last-child {
            ul {
                li {
                    ul {
                        width: 150px;
                        display: flex;
                        justify-content: space-between;
                        li {
                            a {
                                width: 20px;
                                img {
                                    width: 18px;                   
                                }
                            }
                        }
                    }
                }

                .logoList {
                    a {
                        img {
                            width: 100px;
                        }
                    }
                }
            }
        }
    }
 
}