@import "./myBootstrap";

body {
  font-family: "Poppins", sans-serif;
}

*, img, a, ul, li, p, h2, h3, h4, h5, h6, input, textarea {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  resize: none !important;
}

.form-control {
  
  &:focus {
    box-shadow: none !important;
  }
  
  &:focus {
    box-shadow: none !important;
  }
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
}

.form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%239D9D9D' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  @include semiTinyFont;
  color: $veryLightGrey;
  font-weight: 400;
  option {
    color: $lightBlack;
    font-weight: 500;
  }
  &:focus {
    box-shadow: none !important;
    border-width: 1px !important;
  }
}


