*, img, a, ul, li, p, tertiaryFont, h2, h3, h4, input {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.form-control:focus {
  box-shadow: none !important;
}

.form-select:focus {
  box-shadow: none !important;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
